<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="31eb804c-9c18-4f67-8e54-28f3b0a79ec3" Publisher="CN=BeyondVincent" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DevDiv_Notifications</DisplayName>
    <PublisherDisplayName>BeyondVincent</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DevDiv_Notifications.App">
      <VisualElements DisplayName="通知示例" Logo="Assets\normalTile.png" SmallLogo="Assets\smallTile.png" Description="DevDiv_Notifications" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\wideTile.png" ShortName="通知" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#59838c" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>