<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5d48eac4-a14d-4f16-a368-d0c1c06691ca"
            Publisher="CN=BeyondVincent"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>DevDiv_AppNavBar</DisplayName>
    <PublisherDisplayName>BeyondVincent</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="DevDiv_AppNavBar.App">
        <VisualElements
            DisplayName="DevDiv_AppNavBar"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="DevDiv_AppNavBar"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>